body {
    font-family: 'Arial', sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input,
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.campo-formulario {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 20px;
    }
}